[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TSEntropies"]
	path = TSEntropies
	url = https://github.com/cran/TSEntropies
	shallow = true
	registered = true
